@font-face {
    font-family: 'Alias';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/alias/Alias.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat/Montserrat-Black.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-UltraLight.ttf');
    /* IE9 Compat Modes */
}
body {
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    background: #000;
   /* background: #000 url(../img/alias/graphic.png) bottom right;*/
}
h1 {
    font-family: 'Alias', 'Open Sans', sans-serif;
    margin-top: 100px;
    font-weight: 100;
    font-size: 140px;
    color: #d60404;
}
.red {
    color: #d60404;
}
.header-sec1 {
    min-height: 600px;
    background: #000 url(../img/alias/red2.jpg) right no-repeat;
}
#bill1 {
    font-size: 140px;
}
#bill2 {
    font-size: 100px;
}

.intro {
    background: #000;
    padding: 40px;
}
.intro p {
    margin: 0;
    background: #fff;
    padding: 20px;
}
.subtitle {
    text-align: center;
    font-family: 'Alias', 'Open Sans', sans-serif;
    font-size: 46px;
    color: #fff;
    margin: 30px 20px;
}
.sec1 {
    min-height: 500px;
    padding: 40px;
    background: #000 url(../img/alias/alias.png) left center no-repeat;
    background-size: contain;
}
.sec1 p {
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.sec1 p:first-child {
    margin: 30px 50px;
    padding: 30px;
    color: #d60404;
}

.infographic svg {
    width: 100px;
    height: 100px;
}
.infographic ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.infographic ul li {
    padding: 0;
    margin: 50px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-align: center;
    position: relative;
}
.infographic ul li:before {
    content: '↓';
    position: absolute;
    top: -40px;
    font-size: 40px;
    left: 50%;
    margin-left: -10px;
}
.infographic ul li:first-child:before {
    display: none;
}
.infographic ul li h3 {
    max-width: 500px;
    font-size: 20px;
    font-weight: 200;
    margin: auto;
}

#story {
    background: #a80404;
    color: #fff;
}
#story p {
    padding: 20px 10px;
}
#story img {
    width: 100%;
}


#standouts {
    margin-top: 50px;
    color: #fff;
}
#standouts ul {
    /*list-style: none;*/
    padding: 20px;
    margin: 0;
    background: #fff;
    color: #000;
}
#standouts ul li {
    margin-left: 15px;
}
#standouts img {
    margin: 20px 0;
}
#standouts h4 {
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0;
}
#standouts .row:nth-child(odd) h4,
#standouts .row:nth-child(odd) p {
    text-align: right;
}

#summary {
    color: #a80404;
    background: url(../img/alias/graphic.png) bottom right no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    margin-top: 40px;
}
#summary p {
    color: #fff;
    padding: 40px;
    margin: 40px 0;
}


@media screen and (max-width: 767px) {
    .header-sec1 {
        background-position: top right 10%;
    }
    h1 {
        margin-top: 50px;
    }
    #bill1 {
        font-size: 80px;
    }
    #bill2 {
        font-size: 70px;
    }
    .sec1 p:first-child {
        margin: 0;
        padding: 0;
    }
    #standouts .row:nth-child(odd) h4,
    #standouts .row:nth-child(odd) p {
        text-align: left;
    }
}