@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat/Montserrat-Black.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-UltraLight.ttf');
    /* IE9 Compat Modes */
}
body {
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    background: #000;
   /* background: #000 url(../img/alias/graphic.png) bottom right;*/
}
h1 {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin: 90px 0 60px 0;
    font-weight: 100;
    font-size: 70px;
    color: #d60404;
}
.subtitle {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.intro p {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

p.instructions {
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px;
}

.sorters {
    text-align: center;
        
}
#filters {
    max-width: 1000px;
    margin: auto;
}
#sorts {
    max-width: 270px;
    margin: auto;
}
.grid-item { 
    background: #dedede;
    height: 40px;
    width: 25%; 
}
.button {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-size: 12px;
  cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #dd0000;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0; }
.button-group .button:last-child { border-radius: 0; }

/* ---- grid ---- */

.grid {
  margin-top: 20px;
  /*max-width: 1200px;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 20%;
    height: 460px;
    margin: 5px 0;
    padding: 10px;
    color: #fff;
    background-position: center top;
    background-size: 4px 4px, cover;
    background-repeat: repeat, no-repeat;
}

.element-item > * {
  margin: 0;
  padding: 0;
}
.element-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.element-item h3,
.element-item p,
.element-item span,
.element-item a {
    position: relative;
    z-index: 2;
}

.element-item .name {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 3px 3px #000;
}

.element-item .release {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px #000;
}

.element-item .level {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.element-item span {
    color: #000;
    font-size: 16px;
    display: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.element-item a {
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #dd0000;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    display: none;
}
.element-item p,
.element-item h3 {
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.element-item:hover .overlay {
    background: rgba(255, 255, 255, 0.9);
}
.element-item:hover p,
.element-item:hover h3 {
    display: none;
}
.element-item:hover span,
.element-item:hover a {
    display: block;
}



#ww {
    background-image: url(../img/anticipated/ww.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/ww.jpg);  
}
#jl {
    background-image: url(../img/anticipated/jl.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/jl.jpg);  
}
#logan {
    background-image: url(../img/anticipated/logan.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/logan.jpg);  
}
#dunkirk {
    background-image: url(../img/anticipated/dunkirk.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/dunkirk.jpg);  
}
#alien {
    background-image: url(../img/anticipated/alien.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/alien.jpg);  
}
#gog {
    background-image: url(../img/anticipated/gog.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/gog.jpg);  
}
#thor {
    background-image: url(../img/anticipated/thor.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/thor.jpg);  
}
#sw {
    background-image: url(../img/anticipated/sw.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/sw.jpg);  
}
#val {
    background-image: url(../img/anticipated/val.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/val.jpg);  
}
#space {
    background-image: url(../img/anticipated/space.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/space.jpg);  
}
#before {
    background-image: url(../img/anticipated/before.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/before.jpg);  
}
#kong {
    background-image: url(../img/anticipated/kong.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/kong.jpg);  
}
#spider {
    background-image: url(../img/anticipated/val.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/spider.jpg);  
}
#spider .name {
    font-size: 32px;
}
#beauty {
    background-image: url(../img/anticipated/beauty.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/beauty.jpg);  
}
#lego {
    background-image: url(../img/anticipated/lego.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/lego.jpg);  
}
#power {
    background-image: url(../img/anticipated/power.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/power.jpg);  
}
#kingsman {
    background-image: url(../img/anticipated/kingsman.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/kingsman.jpg);  
}
#mummy {
    background-image: url(../img/anticipated/mummy.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/mummy.jpg);  
}
#arthur {
    background-image: url(../img/anticipated/arthur.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/arthur.jpg);  
}
#circle {
    background-image: url(../img/anticipated/circle.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/circle.jpg);  
}
#wwz {
    background-image: url(../img/anticipated/wwz.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/wwz.jpg);  
}
#shell {
    background-image: url(../img/anticipated/shell.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/shell.jpg);  
}
#col {
    background-image: url(../img/anticipated/col.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/col.jpg);  
}
#belko {
    background-image: url(../img/anticipated/belko.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/belko.jpg);  
}
#gifted {
    background-image: url(../img/anticipated/gifted.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/gifted.jpg);  
}
#pirates {
    background-image: url(../img/anticipated/pirates.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/pirates.jpg);  
}
#life {
    background-image: url(../img/anticipated/life.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/life.jpg);  
}
#finest {
    background-image: url(../img/anticipated/finest.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/finest.jpg);  
}
#rachel {
    background-image: url(../img/anticipated/rachel.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/rachel.jpg);  
}
#city {
    background-image: url(../img/anticipated/city.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/city.jpg);  
}
#wick {
    background-image: url(../img/anticipated/wick.jpg);
    background-image: url(../img/silkscreen.svg), url(../img/anticipated/wick.jpg);  
}

.modal-content {
    background: #000;
}
.modal .close {
    font-size: 30px;
    color: #fff;
    background: #dd0000;
    opacity: 1;
    width: 30px;
    z-index: 999;
    position: absolute;
    right: -10px;
    top: -10px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 1199px) {
    .element-item {
        width: 25%;
    }
}
@media screen and (max-width: 991px) {
    .element-item {
        width: 33.3%;
    }
}
@media screen and (max-width: 767px) {
    .element-item {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .element-item {
        width: 100%;
    }
}



@media screen and (max-width: 767px) {
    .header-sec1 {
        background-position: top right 10%;
    }
    h1 {
        margin-top: 50px;
        font-size: 50px;
    }
    .button-group .button {
        width: 49%;
        margin: 0.25%;
    }
    .button-group .button[data-filter=".scifi"],
    .button-group .button[data-filter=".unknown"]{
        width: 49%;
    }
    #sorts {
        max-width: none;
    }
    
}