
#logo {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    display: block;
    width: 300px;
    z-index: 99;
    -webkit-transition: all 0.5s ease 1s;
    -moz-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
}
#logo img {
    max-width: 100%;
}
#logo.shift {
    left: 10px;
    margin-left: 0;
    width: 200px;
}

/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 30px
}

.italic {
    font-style: italic;
}

#menu {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    background: url(../img/silkscreen.svg), rgba(0, 0, 0, 0.3);
    background-position: top center;
    background-size: 4px 4px, 100%;
    background-repeat: repeat, no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease 1s;
    -moz-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
}

#menu.shrink {
    height: 60px;
    background: #000;
}

#menu h1 {
    opacity: 0;
      
    color: #fff;
    text-shadow: none;
    font-size: 26px;
    margin: 0;
    position: absolute;
    left: 220px;
    top: 15px;
    -webkit-transition: all 0.5s ease 1s;
    -moz-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
}

#menu.shrink h1 {
    opacity: 1;
    
}

.navbar-inverse {
    background: #ff0000;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
}


/*=====================================
  FOOTER STYLES 
    ===================================*/

.myfooter {
    background-color: #000;
    padding: 5px 40px 5px 40px;
    color: #fff;
    font-size: 14px;
    text-align: right;
}


.social {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social li {
    display: inline-block;
}
.social .fb-share-button {
    float: left;
}



@media screen and (max-width: 767px) {
    #logo.shift {
        width: 160px;
    }
    #menu.shrink {
        height: 50px;
    }
    #menu.shrink h1 {
        left: 175px;
        font-size: 20px;
    }
    h1 {
        font-size: 46px;
    }
    
}
@media screen and (max-width: 500px) {
    #menu.shrink h1 {
        left: 175px;
        font-size: 18px;
        top: 7px;
    }
}