 body {
     font-family: 'Segoe UI', Arial, sans-serif;
     background: #000;
    /*background: url(../images/dust.jpg);
     background-size: cover;
     background-attachment: fixed;*/
}

#main {
    margin-top: 200px;
    text-align: center;
    min-height: calc(100vh - 250px)
}
.error-message {
    max-width: 767px;
    margin: auto;
    color: #fff;
}
.error-code {
    margin-bottom: 30px;
    font-size: 34px;
    text-transform: uppercase;
}
.error-description {
    font-weight: 300;
    margin-top: 40px;
    font-size: 24px;
}
.error-link {
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 900;
}
.error-link:hover {
    background: #333;
    color: #fff;
}