@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat/Montserrat-Black.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-UltraLight.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Aniron';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/aniron/anirm.ttf');
}

body {
    background: #000;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    line-height: 30px;
}

/*.header-sec {
    display: none;
}*/
.article img {
    width: 100%;
}
.article {
    margin-top: 150px;
}
h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.article-content {
    background: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
}
.article-content p {
    margin: 40px 0;
}



@media screen and (max-width: 767px) {
    .article {
        margin-top: 80px;
    }
}