@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat/Montserrat-Black.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat/Montserrat-UltraLight.ttf');
    /* IE9 Compat Modes */
}
body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}
@media screen and (min-width: 992px) {
    .container {
        width: 900px;
    }
}
.header-primary {
    background: #ffff64;
    box-sizing: initial;
    height: 41px;
    overflow: visible;
    position: relative;
    width: 100%;
    min-height: auto;
    margin: 0;
    border: none;
}
.navbar-header {
    margin: 0 auto;
    position: relative;
    width: 135px;
    float: none;
}
.navbar-header a {
    box-sizing: border-box;
    height: 41px;
    margin: 0;
    padding: .6rem 0 0 27px;
    position: relative;
    display: block;
    text-decoration: none;
    width: 135px;
    text-indent: -9999px;
}
.navbar-header a:before {
    background: url(https://assets.genius.com/images/site-sprites-7467d33094e1dad48fc517f1c4b5ce57d48cb19e.png) no-repeat;
    background-position: -682px -539px;
    height: 19px;
    width: 124px;
    content: '';
    float: left;
    width: 124px;
    height: 19px;
    position: absolute;
    left: 6px;
    top: 11px;
}
.navbar-secondary {
    background: #000;
    margin: 0;
    border-radius: 0;
    min-height: auto;
}
.header-nav_menu {
    width: 100%;
    background-color: #000;
    text-transform: uppercase;
    font-family: Programme, sans-serif;
    text-align: center;
}
.header-nav_menu li {
    z-index: 3;
    display: inline-block;
    position: relative;
    padding: .5rem 1rem;
    color: #fff;
    float: none;
}
.header-nav_menu li a {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    transition: color .2s;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: .875em;
    min-width: .8em;
    padding: 0;
}
.header-nav_menu li a:hover {
    color: #ffff64;
    background: none;
}
.header-nav_menu,
.nav_menu-sub_menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-nav_menu {
    width: 100%;
    background-color: #000;
    text-transform: uppercase;
    text-align: center;
}
.nav_menu-item {
    z-index: 3;
    display: inline-block;
    position: relative;
    padding: .5rem 1rem;
    color: #fff;
}
.nav_menu-link {
    transition: color .2s;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: .875em;
    min-width: .8em;
    text-transform: uppercase;
}
.nav_menu-link:hover {
    color: #ffff64;
    text-decoration: none;
}
.wr-search {
    width: 180px;
    float: left;
    margin: 2px;
    border: 1px solid #efefef;
}
.wr-search .form-control {
    border-radius: 0;
    border: none;
    width: 180px;
    box-shadow: none;
}
.wr-search .input-group-addon {
    background: #fff;
    border: none;
}
.wr-search button {
    background: none;
    border: none;
    border-radius: 0;
}
.navbar-right {
    margin: 8px 10px;
}
.navbar-right a {
    display: inline-block;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
}
.wr-lyrics {
    background: #efefef;
}
.wr-lyrics .container {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}
.wr-lyrics h3 {
    margin: 0;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
    font-weight: 500;
}
.wr-lyrics span {
    float: left;
    clear: both;
    display: block;
    font-weight: 200;
    font-size: 18px;
    color: #000;
    margin-top: 40px;
}
.wr-lyrics p,
.content {
    color: #000;
    font-weight: 200;
    font-size: 17px;
    margin-bottom: 0;
    display: inline-block;
    clear: both;
    float: left;
    line-height: 30px;
}
.content {
    background: #dedede;
}
.content:hover,
.content.active {
    cursor: pointer;
    background: #ffff64;
}
#wr-pen {
    position: relative;
}
#pen {
    background: #fff;
    width: calc(100% - 30px);
    height: 0;
    z-index: -1;
    position: absolute;
    margin-left: -500px;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#pen:before {
    background-color: #99a7ee;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 1rem;
    width: 4px;
}
.annotation_sidebar_arrow {
    z-index: 1;
    height: 44px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: -18px;
    width: 22px;
}
.annotation_sidebar_arrow:before {
    z-index: -1;
    background: #fff;
    bottom: 4px;
    content: '';
    left: 0;
    position: absolute;
    right: -10px;
    top: 4px;
}
.annotation_sidebar_arrow svg {
    height: 100%;
    padding-left: 3px;
    fill: #99a7ee;
}
#pen.open {
    z-index: 1;
    height: 100vh;
    width: calc(100% - 30px);
    margin-left: 0;
    opacity: 1;
}
#pen .inner {
    padding: 20px;
    font-weight: 200;
}
.footer {
    z-index: 1;
    text-align: center;
    background: #000;
    color: #ccc;
    padding: 2rem .75rem;
    line-height: 1.5;
    position: relative;
}
.footer-artist_links_label {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-right: 1rem;
}
.footer a {
    padding: .5rem;
    color: #ffff64;
}
.characters_index_list {
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}
.character_index_list-element {
    display: inline-block;
}
.character_index_list-link {
    color: #99a7ee;
}
.footer .footer-copyright,
.footer a {
    white-space: nowrap;
}
.footer--secondary a {
    color: #99a7ee;
}
.jumbotron {
    padding: 30px 0;
    background: url(../img/genius/header.jpg);
    background-size: cover;
    position: relative;
    margin: 0;
}
.jumbotron:before {
    content: '';
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
}
audio {
    margin-top: 15px;
}
audio::-webkit-media-controls-panel {
    background: rgba(0, 0, 0, 0.5);
}
.jumbotron audio::-webkit-media-controls-play-button:before {
    background: #99a7ee;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-timeline-container {
    background: rgba(255, 255, 255, 0.3);
}
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron h1 {
    word-wrap: break-word;
    word-break: break-word;
    font-size: 2.25em;
    line-height: 1.125;
    font-weight: 500;
    color: #ffff64;
    margin: 10px 0;
}
.jumbotron h2 {
    color: #fff !important;
    font-size: 1.5em;
    line-height: 1.45;
    font-weight: 500;
    display: block;
    color: inherit;
    margin: 0;
    border: none;
}
.jumbotron h3 {
    margin: 0 0 20px 0;
    color: #ccc !important;
    font-size: 15px;
}
.jumbotron .wr-artist {
    color: #ccc !important;
    font-size: 12px;
    margin-top: 40px;
}
.jumbotron .wr-artist img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #38ef51;
}
.jumbotron .wr-artist a {
    display: block;
    color: #fff !important;
    font-size: 15px;
}
