@font-face {
    font-family: 'Liberty';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/liberty/Liberty.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway/Raleway-Regular.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway/Raleway-Light.ttf');
    /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
    /* IE9 Compat Modes */
}




body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    background-color: #000;
    font-weight: 500;
    color: #15292a;
}
.content {
    background: #fff;
}
p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.25px;
}
.bold {
    font-weight: 700;
}
.emph {
    font-style: italic;
    
}
#menu {
    background: #000;
}
h1 {
    text-align: center;
    font-family: 'Liberty', 'Montserrat', sans-serif;
    margin-top: 100px;
    font-weight: 700;
    font-size: 50px;
    color: #15292a;
    line-height: 50px;
}

.subheading {
    margin: 0 0 20px 0;
    padding-top: 50px;
    font-family: 'Liberty', 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 300;
}
section {
    padding: 0;
    position: relative;
    color: #0a0d00;
}
section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section p {
    padding: 20px 0;
    font-weight: 600;
}
.spacer {
    max-height: 400px;
    overflow: hidden;
}

#intro {
    min-height: calc(100vh - 150px);
    padding: 0;
    margin-top: 150px;
    color: #000;
}
#intro .overlay {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(108,14,4,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(108,14,4,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(108,14,4,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a66c0e04',GradientType=0 ); /* IE6-9 */
    z-index: 9;
}
#intro > img {
    width: 100%;
}
.logo-contain {
    position: relative;
    z-index: 99;
    position: absolute;
    top: 220px;
    width: 100%;
}
.logo-contain.fadeout {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.wr-logo {
    width: 50%;
    float: left;
}
.wr-logo img {
    max-height: 400px;
}
.logo-left {
    text-align: right;
}
.logo-right {
    text-align: left;
}
#intro h1 {
    line-height: initial;
    z-index: 98;
    position: absolute;
    width: 100%;
    font-family: 'Liberty', 'Garamond', sans-serif;
    top: 140px;
    color: #e5a71c;

}
#intro h1 i {
    width: 100%;
}
#intro h1 i#upper {
    font-style: normal;
    display: block;
    font-weight: 300;
    font-size: 100px;
    letter-spacing: 15px;
    /*text-shadow: 1px 1px 3px #000;*/
    font-family: 'Liberty', 'Garamond', sans-serif;
   background: rgb(255,238,183); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,238,183,1) 1%, rgba(226,185,2,1) 26%, rgba(183,129,1,1) 50%, rgba(226,185,2,1) 74%, rgba(255,234,168,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,238,183,1) 1%,rgba(226,185,2,1) 26%,rgba(183,129,1,1) 50%,rgba(226,185,2,1) 74%,rgba(255,234,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,238,183,1) 1%,rgba(226,185,2,1) 26%,rgba(183,129,1,1) 50%,rgba(226,185,2,1) 74%,rgba(255,234,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeb7', endColorstr='#ffeaa8',GradientType=0 ); /* IE6-9 */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    position: absolute;
}
#intro h1 i#shadow {
    font-style: normal;
    display: block;
    font-weight: 300;
    font-size: 100px;
    letter-spacing: 15px;
    text-shadow: 1px 1px 3px #000;
    font-family: 'Liberty', 'Garamond', sans-serif;
    position: absolute;
}
#intro h1 span {
    display: inline-block;
    margin-top: 100px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    line-height: auto;
    font-family: 'Raleway', 'Garamond', sans-serif;
}
#menu.shrink h1 {
    font-size: 30px;
    font-weight: normal;
}

#sec1 {
    padding: 80px 0 50px 0;
    background: #000;
    color: #f3d833;
   background: rgb(72,0,1); /* Old browsers */
background: -moz-linear-gradient(top, rgba(72,0,1,1) 0%, rgba(169,33,11,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(72,0,1,1) 0%,rgba(169,33,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(72,0,1,1) 0%,rgba(169,33,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#480001', endColorstr='#a9210b',GradientType=0 ); /* IE6-9 */
}
#sec11 {
    background: #87b5cc;
    color: #2d2a3b;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87b5cc+0,c5e0e8+100 */
background: rgb(135,181,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(135,181,204,1) 0%, rgba(197,224,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(135,181,204,1) 0%,rgba(197,224,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(135,181,204,1) 0%,rgba(197,224,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b5cc', endColorstr='#c5e0e8',GradientType=0 ); /* IE6-9 */

}
#sec2 {
    color: #1c2a37;
   background: #c8c9cb;
    padding-top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5e0e8+0,ededed+100 */
background: rgb(197,224,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(197,224,232,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(197,224,232,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(197,224,232,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e0e8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    
}
#sec2 p {
    font-size: 17px;
    line-height: 24px;
}
#sec2 img.one {
    float: right;
}
#sec2 img.two {
    float: left;
}
img.fullsize {
    width: 100%;
}


/* POINTS */
.point {
    position: relative;
}
.point .overlay {
    z-index: 1;
}
.point h2, .point h3, img, p {
    position: relative;
    z-index: 3;
}
.point h3 {
    font-family: 'Raleway', 'Garamond', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 40px 0 20px 0;
}
#point1 {
    background: rgb(202,216,225);
background: -moz-linear-gradient(left, rgba(202,216,225,1) 0%, rgba(125,185,232,1) 100%);
background: -webkit-linear-gradient(left, rgba(202,216,225,1) 0%,rgba(125,185,232,1) 100%);
background: linear-gradient(to right, rgba(202,216,225,1) 0%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad8e1', endColorstr='#7db9e8',GradientType=1 );
    padding-bottom: 40px;
}
#point1 .overlay {
    background: url(../img/ww/bg.jpg) right center no-repeat;
    background-size: cover;
    opacity: 0.3;
}

#point2 {
background: rgb(248,223,98);
background: -moz-linear-gradient(left,  rgba(248,223,98,1) 0%, rgba(225,142,65,1) 100%);
background: -webkit-linear-gradient(left,  rgba(248,223,98,1) 0%,rgba(225,142,65,1) 100%);
background: linear-gradient(to right,  rgba(248,223,98,1) 0%,rgba(225,142,65,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8df62', endColorstr='#e18e41',GradientType=1 );

}
#point2 .overlay {
    background: url(../img/ww/bg.jpg) right center no-repeat;
    background-size: cover;
    opacity: 0.3;
}
#point2 h3 {
    text-align: center;
}
#point2 #gal {
    float: left;
        
    width: 35%;
}
#point2 #gal1, #point2 #gal2 {
    width: 60%;
    float: right;
        
}
#point2 p {
    padding: 20px 40px 20px 0;
}
#point2 .wr-gal {
    width: 100%;
}

#point3 {
    text-align: center;
    padding: 30px 0 50px 0;
  /*  
background: rgb(231,144,117);
background: -moz-linear-gradient(left,  rgba(231,144,117,1) 0%, rgba(201,63,23,1) 100%);
background: -webkit-linear-gradient(left,  rgba(231,144,117,1) 0%,rgba(201,63,23,1) 100%);
background: linear-gradient(to right,  rgba(231,144,117,1) 0%,rgba(201,63,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e79075', endColorstr='#c93f17',GradientType=1 );
*/
}
#point3 .overlay {
    background: url(../img/ww/bg.jpg) right center no-repeat;
    background-size: cover;
    opacity: 0.3;
}

#point4 {
    background: #000;
color: #fff;
padding: 40px 0;
}
#point4 p {
    margin: 20px 0 0 0;
}
.wr-taglines {
    margin: 20px 0 0 0;
    padding: 10px 0;
    /*background: rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    background: url(../img/silkscreen.svg), rgba(0, 0, 0, 0.05);
     background-position: top center;
    background-size: 4px 4px, 100%;
    background-repeat: repeat, no-repeat;*/
    background: url(../img/ww/bg4.jpg) right center no-repeat;
    background-size: cover;
}
.tagline {
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Raleway', 'Segoe UI', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7971c+0,f2e386+100 */
background: rgb(183,151,28); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(183,151,28,1) 0%, rgba(242,227,134,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(183,151,28,1) 0%,rgba(242,227,134,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(183,151,28,1) 0%,rgba(242,227,134,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7971c', endColorstr='#f2e386',GradientType=1 ); /* IE6-9 */

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
#point5 #charge {
    width: 100%;
}

#point6 {
background: rgb(148,39,19); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(148,39,19,1) 0%, rgba(67,6,3,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(148,39,19,1) 0%,rgba(67,6,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(148,39,19,1) 0%,rgba(67,6,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#942713', endColorstr='#430603',GradientType=1 ); /* IE6-9 */
color: #fff;
    padding-top: 40px;
}
#point6 img {
    width: 50%;
    float: left;
}
#point5 {
    padding-top: 40px;
}
#point5 #shots img {
    width: 50%;
    float: left;
}
#blue {
    width: 100%;
}

#summary {
    background: url('../img/ww/bg3.jpg');
}

@media screen and (min-width: 1441px) {
    .container {
        width: 1400px;
    }
    #intro h1 {
        top: 200px;
    }
    #intro .logo-contain {
        top: 220px;
    }
    #point2 .wr-gal {
        width: 1400px;
        margin: auto;
    }
    #point2 #gal {
        
    }
    #point2 #gal1, #point2 #gal2 {
        
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #intro h1 {
        top: 100px;
    }
    #intro h1 i#shadow, #intro h1 i#upper {
        font-size: 80px;
    }
    #intro .logo-contain {
        top: 120px;
    }
    .wr-logo img {
        max-height: 300px;
    }
    #point2 #gal2 {
           /* width: 100%;
    clear: both;
        text-align: center;*/
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #intro {
        min-height: initial;
    }
    #intro h1 {
        top: 40px;
    }
    #intro h1 i#shadow, #intro h1 i#upper {
        font-size: 50px;
    }
    #intro h1 span {
        font-size: 30px;
        margin-top: 60px;
    }
    #intro .logo-contain {
        top: 280px;
    }
    .wr-logo img {
        max-width: 100%;
        max-height: 250px;
    }
    #point2 #gal2 {
            width: 100%;
        clear: both;
        text-align: center;
    }
    #point2 #gal2 img {
        display: none;
    }
}

@media screen  and (max-width: 991px) {
    #menu.shrink h1 {
        font-size: 14px;
        line-height: 18px;
    }
    
}

@media screen and (max-width: 767px) {
    p {
        text-align: center !important;
    }
    #menu.shrink h1 {
        font-size: 10px;
        line-height: 12px;
    }
    #intro {
        margin-top: 80px;
        min-height: initial;
    }
    #intro h1 {
        margin: 0;
        top: 90px;
    }
    #intro h1 i#shadow, #intro h1 i#upper {
        font-size: 40px;
        letter-spacing: 4px;
    }
    #intro h1 span {
        font-size: 25px;
        margin-top: 50px;
    }
    #intro .logo-contain {
        top: 280px;
    }
    .subheading {
        font-size: 30px;
    }
    .point h3 {
        font-size: 30px;
        text-align: center;
    }
    #sec1 {
        padding-top: 240px;
    }
    .wr-logo img {
        max-width: 100%;
        max-height: 250px;
    }
    #point2 p {
        padding: 10px 15px;
    }
    #point2 #gal {
        float: none;
        width: 100%;
    }
    #point2 #gal1, #point2 #gal2 {
            width: 100%;
        clear: both;
        text-align: center;
    }
    #point2 #gal2 {
        width: 100%;
    }
    #point2 #gal2 img {
        width: 100%;
    }
    #point5 #shots img,
    #point6 img {
        width: 100%;
        float: none;
    }
    #summary iframe {
        width: 100% !important;
    }
}

@media screen and (max-width: 420px) {
    #intro h1 span {
        font-size: 24px;
        margin-top: 90px;
    }
}