<!DOCTYPE html>
<html>
<head>
    <!-- [[! Document Settings ]] -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- [[! Page Meta ]] -->
    <title>{% if page.title %}{{ page.title }}{% elsif site.name %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{{ site.name }} - {{ site.description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="{{ page.subtitle }}" />
    <meta name="author" content="Samanalie Dias Jayasinha" />
    <meta name="keywords" content="{{ page.keywords }}" />
    
    <meta property="og:url"           content="{{ page.url }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ page.title }}" />
	<meta property="og:description"   content="{{ page.subtitle }}" />
	<meta property="og:image"         content="{{ page.ogimage }}" />
   
    <link rel="shortcut icon" href="{{ site.url }}assets/img/favicon.png" >
    <link href="{{ site.url }}assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    
   
    <!-- [[! Styles'n'Scripts ]] -->
    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/screen.css" />-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}assets/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}assets/css/common.css" />
    <!-- CUSTOM STYLE CSS -->
    <link href="{{page.css}}" rel="stylesheet" />
    <!-- [[! highlight.js ]] -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <style>.hljs { background: none; }</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- [[! Ghost outputs important style and meta data with this tag ]] -->
    {% include head.html %}
    
    {% include navigation.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">

   <!-- {% include navigation.html %}-->
    
        <!-- [[! Everything else gets inserted here ]] -->
        {{ content }}

    <div class="myfooter">
        <div class="container">
        <!--<ul class="social">
            <li>
            <div class="fb-share-button" data-href="http://samanalie.com/thethingis/lotr/the-lord-of-the-rings-unexpected-hero" data-layout="button" data-mobile-iframe="true"></div>
            </li>
            <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://samanalie.com/thethingis/lotr/the-lord-of-the-rings-unexpected-hero" data-text="The Lord of The Rings is a story of The Unexpected Hero">Tweet</a>
            </li>

        </ul> -->
        <span>The Thing Is | by: Samanlie</span>
            </div>
    </div>

    <!--FOOTER SECTION END-->
    <!--  Jquery Core Script -->
    <script src="{{ site.baseurl }}assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="{{ site.baseurl }}assets/js/bootstrap.js"></script>
    <!--  Scrolling Reveal Script -->
    <script src="{{ site.baseurl }}assets/js/scrollReveal.js"></script>
    <!--  Scroll Scripts -->
    <script src="{{ site.baseurl }}assets/js/jquery.easing.min.js"></script>
    <!--  Custom Scripts -->
    <script src="{{ site.baseurl }}assets/js/custom.js"></script>
    
    <script src="{{ page.js }}"></script>

    <!-- Add Google Analytics  -->
    {% include analytics.html %}   
</body>
</html>
